Repository trimble-oss/modus-react-bootstrap, pull requests merged in 2023-03, with the labels that each got.

#280 Remove open-sff-scorecard GitHub Action
  .github/workflows/open-sff-scorecard.yml
Labels: priority:low

#294 Improvements to DataTable component and fixed vulnerabilities
  .gitignore
  CHANGELOG.md
  docs/src/examples/components/Table.tsx
  docs/src/pages/components/tables.mdx
  docs/yarn.lock
  package.json
  src/ContextMenu.tsx
  src/ContextMenu.types.tsx
  src/DataTable.props.tsx
  src/DataTable.tsx
  src/DataTable.types.tsx
  src/DataTableContextMenuProvider.tsx
  src/FileUploadDropZone.tsx
  src/TreeView.tsx
  src/TreeViewContext.tsx
  src/TreeViewItem.tsx
  src/TreeViewItem.types.tsx
  src/TreeViewItemContext.tsx
  src/index.tsx
  src/react-table-config.d.ts
  src/types.tsx
  src/useDataTableInstance.tsx
  src/useTreeViewDescendants.tsx
  yarn.lock
Labels: 3

#303 Automate Release Notes Generation
  .github/release-drafter.yml
  .github/workflows/release-notes.yml
Labels: 1, priority:low

#306 Fix #302 lodash is improperly specified as a devDependency
  CHANGELOG.md
  docs/src/examples/components/Messages.tsx
  package.json
  src/Message.tsx
Labels: dependencies

#310 Update home page graphics for React docs
  CHANGELOG.md
  LICENSE
  docs/src/assets/img/modus-homepage.png
  docs/src/pages/index.tsx
Labels: documentation, docs
